
body {
    background-color: rgba(100, 204, 100, 0.349);
}

.header {
    display: flex;
    justify-content: flex-start;
    padding: 15px 0px 15px 0px;
    background-color: white;
}
#tool-bar1 {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#tool-bar2 {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    width: 80%;
}

.icon {
    color: grey;
}

.icon:visited {
    color: grey;
}

#icon {
    font-size: 4vh;
    height: 4vh;
}

.link {
    color: black;
}

.link:visited {
    color: black;
}

.white-space {
    height: 5vh;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.profile2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    height: 30vh;
    width: 100%;
}

#profile-pic {
    height: 25vh;
    width: 13vw;
    margin: 10px;
    border-radius: 50%;
}

#information {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 70vw;
    border-radius: 10px;
    background-color: whitesmoke;
}

.big-container {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

#programs1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 100%;
}

#programs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    padding: 0px 20px 20px 20px;
    background-color: whitesmoke;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 20px 20px 50px 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#contact {
    margin: 0px 0px 0px 20px;
}

#info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.program-cont {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}
.name {
    display: flex;
    font-size: 9vh;
}

#pic {
    height: 30vh;
    width: 100%;
}

#text {
    font-size: 4vh;
    margin: 0px;
}

@media screen and (min-width: 300px){
    .name {
        font-size: 10vh;
    }
}

@media screen and (max-width: 700px){
    .name {
        font-size: 5vh;
    }
}

@media screen and (max-width: 700px){
    #contact {
        font-size: 2vh;
    }
}
#text-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px, 10px, 10px, 10px;
    padding-top: 50px;
}

@media screen and (max-width: 700px){
    #text-container {
        display: none;
    }
}
